.browse-page {
    background-color: rgb(169, 169, 169);
    width: 100%;
    display: flex;
justify-content: center;
align-items: top;


}

.browsepage-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
    width: 100%;
}

.skeleton {
    width: 50%;
}