.notification-page {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notifications-container {
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification-heading {
    font-weight: 700;
    font-size: 120%;
}