.progress-container {
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(213, 213, 213);
    display: flex;
    justify-content: center;
}

.progress-activity {
    background-color: white;
    border-radius: 24px;
    padding: 20px;
    min-width: 100%;
}

.progress-content {
    padding: 20px;
    min-width: 70%;
}

.progress-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 0.5px dotted grey;
}

.progress-profile {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-bottom: 0.5px dotted grey;
    padding-bottom: 10px;
}

.progress-profile-picture {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.progress-profile-picture > img {
    width: 100%;
    height: 100%;
}

.progress-profile-contents {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.progress-analytics {
    padding: 10px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: #85adad;
    margin-top: 40px;
    position: relative;
}

.progress-bar-bg {
    height: 100%;
    width: 0;
    background-color: #4071ED;
    border-radius: 12px;
    border-radius: 12px;
    transition: .2s;
}