* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.navbar {
    height: auto;
    background-color: #f1f1f1;
    box-shadow: 1px 3px 12px black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.navbar-logo >img{
    height: 100%;
    width: 80px;
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-links > a {
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
    color: #181818;
}

.navbar-user {
    position: relative;
}

.navbar-user__profile {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 6px;
    width: fit-content;
}

.navbar-user__image {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar-user__profile > span {
    font-weight: 600;
}

.navbar-responsive {
    display: flex;
    align-items: center;
    font-size: 25px;
    display: none;
}

.navbar-user__profile:hover {
    background-color: #cacaca;
    border-radius: 4px;
    position: relative;
}

.navbar-user__dropdown {
    min-width: 150px;
    position: absolute;
    background-color: rgb(240, 240, 240);
    color: #00000000;
    bottom: -120px;
    border-radius: 5px;
    box-shadow: 1px 4px 20px black;
    height: 0px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    float: top;
}

.navbar-user__dropdown-element {
    color: inherit;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-weight: 600;
    transition: .9s;
}

.navbar-user__dropdown-element:hover {
    background-color: rgb(216, 216, 216);
    transition: .4s;
    cursor: pointer;
}

.navbar-user__dropdown-element > svg {
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
    padding: 10px;
    transition: .2s;
}

.navbar-user__dropdown::after {
    display: none;
    content:''; /* Required to display content */
    position: absolute; /* Sets the position absolute to the top div */
    top: 4%;
    left: 15%;/* position the little arrow */
    margin-left: -15px;
	margin-top:-15px; /* Set margin equal to border px */
    width: 0;
    z-index:1;
    height: 0;
    border-bottom: solid 15px rgb(240, 240, 240); /* Creates the arrow pointing up, to change to a notch instead user border-top */
    border-left: solid 15px transparent; /* Creates triangle effect */
    border-right: solid 15px transparent; /* Creates triangle effect */
    transition: 1s;
}

/* when user is hovered, we need to make the dropdown after visible and change the height of the dropdown to auto */
.navbar-user:hover .navbar-user__dropdown {
    height: 200px;
    color: black;
    opacity: 1;
    transition: 1s;
    padding: 10px 5px;
    top: 50px;
}

.navbar-user:hover .navbar-user__dropdown::after {
    display: block;
}

.navbar-user:hover .navbar-user__invisible-wrapper {
    display: block;
}

.navbar-user__invisible-wrapper {
    display: none;
    position: absolute;
    width: 200px;
    right: 20px;
    height: 300px;
    background-color: none;
    z-index: 0;
}

/* Responsive navbar code */

@media screen and (max-width: 600px) {

    .navbar-responsive {
        display: flex;
    }

    .navbar-links {
        display: none;
    }   

}

/* Sidebar starts here */
