* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.navbar {
    height: 60px;
    background-color: #f1f1f1;
    box-shadow: 1px 3px 12px black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    grid-column: 1/4;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--wrapper-width);
    width: 100%;
    margin: auto;
}

.navbar-logo >img{
    height: 100%;
    width: 80px;
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-links > a {
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
    color: #181818;
}

.navbar-user {
    position: relative;
}

.navbar-user__profile {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 6px;
    width: fit-content;
}

.navbar-user__image {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar-user__profile > span {
    font-weight: 600;
}

.navbar-responsive {
    display: flex;
    align-items: center;
    font-size: 25px;
    display: none;
}

.navbar-user__profile:hover {
    background-color: #cacaca;
    border-radius: 4px;
    position: relative;
}

.navbar-user__dropdown {
    min-width: 150px;
    position: absolute;
    background-color: rgb(240, 240, 240);
    color: #00000000;
    bottom: -120px;
    border-radius: 5px;
    box-shadow: 1px 4px 20px black;
    height: 0px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    float: top;
}

.navbar-user__dropdown-element {
    color: inherit;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-weight: 600;
    transition: .9s;
}

.navbar-user__dropdown-element:hover {
    background-color: rgb(216, 216, 216);
    transition: .4s;
    cursor: pointer;
}

.navbar-user__dropdown-element > svg {
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
    padding: 10px;
    transition: .2s;
}

.navbar-user__dropdown::after {
    display: none;
    content:''; /* Required to display content */
    position: absolute; /* Sets the position absolute to the top div */
    top: 4%;
    left: 15%;/* position the little arrow */
    margin-left: -15px;
	margin-top:-15px; /* Set margin equal to border px */
    width: 0;
    z-index:1;
    height: 0;
    border-bottom: solid 15px rgb(240, 240, 240); /* Creates the arrow pointing up, to change to a notch instead user border-top */
    border-left: solid 15px transparent; /* Creates triangle effect */
    border-right: solid 15px transparent; /* Creates triangle effect */
    transition: 1s;
}

/* when user is hovered, we need to make the dropdown after visible and change the height of the dropdown to auto */
.navbar-user:hover .navbar-user__dropdown {
    height: 200px;
    color: black;
    opacity: 1;
    transition: 1s;
    padding: 10px 5px;
    top: 50px;
}

.navbar-user:hover .navbar-user__dropdown::after {
    display: block;
}

.navbar-user:hover .navbar-user__invisible-wrapper {
    display: block;
}

.navbar-user__invisible-wrapper {
    display: none;
    position: absolute;
    width: 200px;
    right: 20px;
    height: 300px;
    background-color: none;
    z-index: 0;
}

/* Responsive navbar code */

@media screen and (max-width: 600px) {

    .navbar-responsive {
        display: flex;
    }

    .navbar-links {
        display: none;
    }   

}

/* Sidebar starts here */
.sidebar-visible__button {
    position: absolute;
    border: none;
    width: 20px;
    height: 20px;
    z-index: 100;
    top: 10px;
    left: 10px;
    color: blue;
    box-shadow: 1px 1px 10px  black;
    display: grid;
    justify-self: center;
}

.sidebar {
    background-color: rgb(226, 241, 250);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 20px;
}

.sidebar-content__user {
    display: flex;
    align-items: center;
}

.sidebar-content__profile-picture {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-content__profile-picture img {
    width: 60px;
    height: 60px;
}

.sidebar-content__username-email {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 10px;
}

.sidebar-content__links {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.sidebar-content__links > a {
    display: flex;
    text-decoration: none;
    color: #2f2f2f;
    gap: 15px;
    padding: 10px;
    border-radius: 4px;
    width: 130px;
}

.sidebar-content__links > a:hover {
    background-color: #1818183d;
    cursor: pointer;
}

.sidebar-content__links > div:hover svg {
    color: rgb(21, 20, 88);
}

.sidebar-icon {
    color: rgba(0, 0, 0, 0.247);
    position: relative;
}

.sidebar-link__text {
    font-weight: 700;
}

.sidebar-notification-number {
    position: absolute;
    background-color: blue;
    color: white;
    font-weight: 700;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;;
    left: 4px;
}

.sidebar-responsive-cancel-button {
    display: none;
}

.sidebar.invisible {
    display: none;
}

.sidebar-visible__button {
    display: none;
}

.sidebar-logout__button {
    width: 80px;
    border-radius: 4px;
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    padding: 10px;
    background-color: rgb(224, 40, 40);
    transition: .4s;
}

.sidebar-logout__button:hover {
    cursor: pointer;
    background-color: red;
}

/* End of sidebar */

/* Mobile/ Tablet view sidebar */

@media screen and (max-width: 800px) {
    
    .sidebar-responsive-cancel-button {
        display: block;
    }
    
    .sidebar-visible__button {
        display: block;
    }

    .sidebar {
        background-color: rgb(232, 232, 232);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99;
    }

    .sidebar-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sidebar-responsive-cancel-button {
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

/* Start of map-layout */

.map-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin-top: auto;
    width: 100%;
    background-color: rgb(238, 238, 238);
    height: 100%;
}

.map {
    transform: scale(1);
}

/* Map Modal component */
.place-modal {
    
}

.modal-contents {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.modal-contents > :nth-child(1) {
    font-weight: 700;
    font-size: 25px;
}

.modal-button {
    border: none;   
    padding: 5px;
    background-color: rgb(82, 82, 246);
    color: white;
    font-weight: 700;
}

.modal-button.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-category {
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(123, 114, 255);
    width: fit-content;
    font-weight: 700;
    color: white;
}

/* Searchbar starts here */
.searchbar-container {
    display: flex;
    flex-direction: column;
}

.searchbar-header {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: #efefef;
}

.searchbar {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    width: fit-content;
    border-radius: 23px;
    padding: 4px;
}

.searchbar > input {
    border: none;
    padding: 4px;
    font-weight: 400;
    color: #5f5e5e;
    font-style: normal;
    border-radius: 23px;
} 

.searchbar > input:focus {
    outline: none;
}

.searchbar > svg {
    margin-left: 10px;
}

.searchbar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 14px;
}
/* End of searchbar*/

/* Notification component starts here */
.notification-container {
    background-color: rgb(211, 237, 240);
    padding: 12px;
    height: auto;
    width: auto;
    align-items: center;
    border-radius: 4px;
}

.notification-content {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    width: 100%;    
    font-weight: 600;
}

.notification-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.notification-time {
    opacity: 0.5;
    font-weight: 600;
    font-size: 12px;

}

.notification-thumbnail > img {
    width: 40px;
    border-radius: 50%;
}

.notification-close {
    min-width: 25px;
    min-height: 25px;
    position: absolute;
    right: 20px;
    background-color: rgb(207, 196, 196);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-weight: 100;
    box-shadow: 1px 2px 12px black;
    align-items: center;
    color: rgb(54, 54, 54);
    padding-left: 1px;
}
/* End of notifications */

.location-card {
    width: 500px;
    height: 240px;
    background-color: rgb(241, 241, 241);
    border-radius: 4px;
    padding: 10px;
    display: flex; 
    align-items: center;
    gap: 20px;
    position: relative;
}

.location-card:hover {
    cursor: pointer;
}

.location-image {
   width: 50%;
   max-width: 50%;
min-width: 50%;
}

.location-image > img {
    width: 100%; 
    max-width: 100%;
    max-height: 100%;
}

.location-content {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    min-height: 100%;
    position: relative;
    word-wrap: break-word;
}

.location-title {
    font-weight: 700;
    font-size: 24px;
    width: 100%;
}

.location-desc {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.location-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10px;
}

.location-likes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.location-buttons > button {
    width: 50px;
    border:none;
    font-weight: 700;
    background-color: rgb(63, 142, 220);
    border-radius: 1px;
    color: white;
}

.location-likes > button {
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 4px;
    outline: none;
    border: none
}

.location-desc {
    
}

.card-container {
    margin-left: auto;
    padding: 4px;
}

.progress-ring {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 100px;
}

.locationMapComponent {
    padding-top: 10px;
    padding-bottom: 12px;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
}

.locationMapComponent-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.List-responseData {
    display: flex;
    flex-direction: column;
    gap: 10px;
}