* {
    margin: 0;
    padding: 0;
}

:root {
    --wrapper-width: 1200px;
}

#root {
    background-color: red;
    height: 100vh;
}

#root > div.main {
    background-color: blue;
    height: 100%;
}